body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color:antiquewhite;
  display: flex;
  justify-content: center;
}

main{
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.counter{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.current-number{
  font-size: 2rem;
  padding: 2px;
}

.counter-button{
  padding: 0.5rem 2rem;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: blanchedalmond;
  transition: 300ms;
}

.counter-button:hover{
  padding: 0.6rem 3rem;
}